@page "/"

<h1>Drag and Drop</h1>
<h3>Not working as expected - a reproducable</h3>

<hr />
<h1>(Working) Drag and Drop with <code>InputFile</code></h1>
<InputFile style="border:1px solid red; height:100px;width:200px;"></InputFile>

<hr />
<h1>(Not Working) Drag and Drop with <code>div</code> -- preventDefaults not working</h1>
@*
    GH Issue (bug) related to registering a global event handler
    https://github.com/dotnet/aspnetcore/issues/18449
*@
<p>Drag a file from OS and observe <code>NotImplementedException</code> because the DataTranfer object is empty</p>
<div style="border:1px solid red; height:100px;width:200px;"
     @ondragover:preventDefault
     @ondragover="() => { }"
     @ondrop:preventDefault
     @ondrop="HandleDrop">
</div>

<hr />
<h1>(Working) Drag and Drop with <code>div</code> and JavaScript -- preventDefaults working as expected</h1>
<p>Drag a file from OS and observe the browser console. A file object will be logged in the console.</p>
<div style="border:1px solid red; height:100px;width:200px;"
     ondragover="console.log('dragover');event.preventDefault()"
     ondrop="console.log(event.dataTransfer.files[0]);event.preventDefault()">
</div>

@code {
    private void HandleDrop(DragEventArgs e)
    {
        if (!e.DataTransfer.Files.Any())
        {
            throw new NotImplementedException("DataTransfer.Files doesn't work?");
        }
    }
}
